<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FISHN'BUD </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <meta name="description" content="Fishn'bud home page view">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .container {
            padding: 64px;
        }

        .container-nav {
            padding: 0px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both
        }

        .column-66 {
            float: left;
            width: 66.66666%;
            padding: 20px;
        }

        .column-33 {
            float: left;
            width: 33.33333%;
            padding: 20px;
        }

        .large-font {
            font-size: 48px;
        }

        .xlarge-font {
            font-size: 64px
        }

        .button {
            border: none;
            color: white;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            background-color: mediumaquamarine;
            margin: 4px 2px;
            opacity: 1;
            transition: 0.3s;
        }

            .button:hover {
                opacity: 0.6
            }

        img {
            display: block;
            height: auto;
            max-width: 100%;
        }

        @@media screen and (max-width: 1000px) {
            .column-66,
            .column-33 {
                width: 100%;
                text-align: center;
            }

            img {
                margin: auto;
            }
        }

        .back-img {
            opacity: .99;
            background-image: url('https://cdn9.dissolve.com/p/D2115_131_193/D2115_131_193_1200.jpg')
        }
        .title-center {
            position: center;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-sm-3" >
            <div class="container container-nav">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://lh3.googleusercontent.com/MO5NFlA2Y-RRK1c4awc0iPPwPrTISJLUcJdomUz1WLiJ3PSUxhh3Vto4Kr3uZl-ckJc5iaE_SCmESC2l3MaXTIfzCEMwtu36HagHKzEvLLdST8GFDiAJfQOEQKkRkkWQPZVYRYPg95DMsuiyq-ca0HqjrTR8826D5n8osRqe4kObiduDMbwQqcw3xLEAv11gBR8U5wbKf1UnuBPxPhBNPA0NzM7P0hOTvdDILom8Ruznl_lzED6OzZfC3bZZKiotEy7c1s8KzTF-wKf2fdnL1THHE_rZNRGWb2NrssM-64O4qRqRPrt0BaSPGh_Qx6eQB2nDh7Z4GQJp6RvLi6gkfpwAbM7rSSLZkg-Mb79zhKraVVVSxqUupaNT2obLlLoxDGkL22uBpXIaOQxvCyyadjZ0IkdyOnXhTTDEdZFDX0WDS6ULXfS5sATPcEEvpz29hmGAG6gS_5WSbn9qVvKDh7_iHuIOosfRLfDNztxEfePUTTx5YtQKYal5GhJvk3kK6DUN_CSrG4REcyNwasfBxXEjZFR6nrf-x_id-betuaLdnCMiPVurq21mLKvO9gN-EDeAjUxyqfSZ9PyWkPsZvhV5tkytNJVveQHCGe9ZEQdAfl7w34lpMkvZFJwtKs6epFJKH46Vq1Iy6X8fxBW1KJxY4fWyCKteOdxLwJKdHF10TK6TQv_QpC90GQHcyE4=s400-no?authuser=0" alt="icon" style="width:40px;height:40px" />
                </a><a class="title-center font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index" style="color:black;text-align:left">FISHN'BUD</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-nav">
            &copy; 2020 - FISHN'BUD -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
