@model IEnumerable<Capstone_Proj.Models.Guide>

@{
    ViewData["Title"] = "Index";
    ViewData["WeatherForecast"] = "DailyForecasts";
}
<style>
    #map {
        height: 400px;
        width: 800px;
        widows: 100%;
    }

    .checked {
        color: orange;
    }
</style>


<h2>Profile Page</h2>
<body>
    <div id="profile picture">

        <p>Upload a picture</p>
    </div>

    <form action="\Index">
        <input type="file" id="myFile" name="">
        <input hidden type="submit">
    </form>
    <p>
        <a href="Guide\Index" class="notification float-md-right">
            <span class="fa fa-envelope-o" style="font-size:24px"></span>
            <span class="badge">2</span>
        </a>
        <button class="float-md-right" type="button" onclick="alert('Request sent')">Request Me!</button>
    </p>
    <div>
        <p>
            <span class="" style:"">About me:</span>
        </p>
        <p>
            <span>
                First Name: Shane <br />
                Last Name: L. <br />
                Location: Sacramento, CA<br />
                Title: Kayak fisherman<br />
                Water Type: Freshwater<br />
                Targeted Species: Striped bass, Largemouth bass, American Shad <br />
                Primary fishing destination: California Delta<br />
                Guide Packages + Rates: Full day - $300, Half-Day - $150<br />
                Availability: <br />
            </span>
            <a class="" href="https://www.instagram.com/leefishn/" target="_blank"><i style="font-size:24px" class="fa">&#xf16d;</i></a>

        </p>

    </div>
    <div id="map"></div>
    <div id="instafeed"></div>
</body>

<div class="float-md-right">

    @*<partial name="WeatherPartial" />*@
    <p>
        <a asp-action="WeatherPartial">Weather</a>
    </p>
</div>

<script src="~/js/Maps.js"></script>


<script src="~/js/site.js" asp-append-version="true"></script>

