@model IEnumerable<Capstone_Proj.Models.Guide>

@{
    ViewData["Title"] = "Index";
    ViewData["WeatherForecast"] = "DailyForecasts";
}



<h2>Profile Page</h2>
<body>
    <div id="profile picture">

        <p>Upload a picture</p>
    </div>

        <form action="\Index">
            <input type="file" id="myFile" name="">
            <input type="submit">
        </form>
        <p>
            <a href="Guide\Index" class="notification float-md-right">
                <span class="fa fa-envelope-o" style="font-size:24px"></span>
                <span class="badge">2</span>
            </a>
        </p>
</body>

<div class="float-md-right">

    @*<partial name="WeatherPartial" />*@
    <p>
        <a asp-action="WeatherPartial">Weather</a>
    </p>
</div>


<script src="~/js/site.js" asp-append-version="true"></script>

