@model IEnumerable<Capstone_Proj.Models.PostalCodeSearch>
    
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model)
            {
            <tr>
<td>@item.EnglishName,@item.AdministrativeArea.ID</td>
            </tr>
        }
            </tbody>
    </table>
