
@{
    ViewData["Title"] = "Home Page";
}

    <div class="container back-img" style="text-align:left">
        <h1 class="font-weight-bolder" style="text-align:right;color:white;">BECAUSE THE MOST EXCITING FISHING ADVENTURES ARE EXPERIENCED WITH A BUDDY</h1>
        <p class="font-weight-bold text-md-center" style="color:mediumaquamarine"> Your next adventure awaits! <i style="font-size:18px;color:black" class="fa">&#xf175;</i></p>
        <form class="text-md-center" action='FishingSpots\SearchView'>
    <input type="text" placeholder="Try current location..." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>
    </div>

    
    <div class="container">
        <div class="row">
            <div class="column-66">
                <h1 class="xlarge-font"><b>FISHN'BUD</b></h1>
                <h1 class="large-font" style="color:mediumaquamarine;"><b>Find an open seat now !</b></h1>
                <p><span style="font-size:24px">Pick a spot that you have always wanted to go. Choose an available guide to take you on an epic fishing trip. </span> </p>
               <a class="button" href='https://localhost:44319/Identity/Account/Register'>Sign Up for FISHN'BUD NOW</a>
            </div>
            <div class="column-33">
                <img src="https://images.boats.com/resize/1/6/41/7270641_20191101123812229_1_LARGE.jpg?t=1572637093000" alt="bassboat" width="335" height="471">
            </div>
        </div>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <div class="row">
            <div class="column-33">
                <img src="https://www.williamsonrealty.com/uploads/ws-ocean-isle-beach-nc-surfcasting-beach-fishing-2-7rrsc2.jpg" alt="shorefishing" width="335" height="471">
            </div>
            <div class="column-66">
                <h1 class="xlarge-font"><b>Become a guide!</b></h1>
                <h1 class="large-font" style="color:red;"><b>It's simple</b></h1>
                <p><span style="font-size:24px">Whether you are fishing from the shore, own a boat, kayak, or even if you are an established charter. </span></p>
                <a class="button" href='https://localhost:44319/Identity/Account/Register' style="background-color:red">Learn How</a>
            </div>
        </div>
    </div>

    
    <div class="container">
        <div class="row">
            <div class="column-66">
                <h1 class="xlarge-font"><b>FISHN'BUD <a style="color:gold">PRO</a></b></h1>
                <h1 class="large-font" style="color:mediumaquamarine;"><b>Exclusive Features!</b></h1>
                <p><span style="font-size:36px"></span></p>

                <button class="button">30 days free trial</button>

            </div>
            <div class="column-33">
                <img src="https://www.onthewater.com/wp-content/uploads/2019/03/kayak-guide-2020-cast-featured-800x600.jpg" width="335" height="471">
            </div>
        </div>
    </div>

<script>
    function myFunction() {
        document.getElementById("register").innerHTML
    }
</script>


