@model IEnumerable<Capstone_Proj.Models.Customer>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="WeatherForecast">5 Day Weather Forecast</a>
    @*<partial name="WeatherForecast" />*@
</p>

<table class="table">
    <thead>
    
    </thead>
    <tbody>
    </tbody>
</table>
